* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body > * {
  width: 100%;
}

.ul-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.horizontal-list {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.vertical-list {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.ul-list > * {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.ul-list .list-item-text {
  padding: 10px 12px;
}

.ul-list .list-item-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
}

a.link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

a.link-icon {
  font-size: 20px;
  line-height: calc(40px - 16px);
}

h1.section-title,
h2.section-title {
  font-family: 'Crete Round', serif;
  font-weight: normal;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  width: 100%;
}

h2.section-title {
  font-size: 40px;
  line-height: 52px;
}

.h-rule {
  width: 100%;
  border: none;
  height: 0.25px;
  background-color: #212121;
}

.box-join-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.box-join-title .h-rule {
  margin-top: 24px;
}

.section-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.description-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #fff5e1;
}

.enable-button {
  height: 48px;
  background: #ff6b00;
  border: 1px solid #ff6b00;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff5e1;
}

.enable-button:hover {
  background: #fff5e1;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.enable-button:active {
  background: #ff6b00;
  border: 1px solid #ff6b00;
  color: rgba(244, 241, 240, 1);
}

.enable-button:disabled {
  background: #fff5e1;
  border: 1px solid #f4f1f0;
  color: #5b5957;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3c3c;
  padding: 16px 24px;
}

.nav-bar .logo {
  font-weight: bold;
  color: #fff;
}

.nav-bar .menu-list {
  display: none;
}

.nav-bar .menu-list .link {
  color: #fff;
}

.nav-bar .menu-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  color: #fff;
}

.page-section {
  padding: 100px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page-section > * {
  margin: 12px 0;
}

.first-section {
  background: #1c1a19;
  background-image: url(../images/illustration-header-mobile.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 150px auto;
  padding: 150px 24px 100px 24px;
}

.first-section .social-media-icons .link {
  color: #dbd8d7;
}

footer ul li {
  transition: transform 0.3s ease-in;
}

footer ul li:hover {
  transform: scale(1.1);
}

.works-section .section-title {
  color: #091e42;
}

.works-section .works-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.works-section .works-container > * {
  width: 100%;
  margin: 12px 0;
}

.works-section .post-image {
  width: 100%;
  max-width: 327px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.works-section .post-image-desktop {
  display: none;
}

.works-section .post-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.works-section .post-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.works-section .post-information > * {
  margin-bottom: 12px;
}

.works-section .post-title {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.works-section .description-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.works-section .post-tags > * {
  margin: 5px;
  font-weight: 500;
}

.works-section .post-tags li:first-child {
  margin-left: 0;
}

.works-section .post-tags li:last-child {
  margin-right: 0;
}

.works-section .posts-display > * {
  margin-bottom: 24px;
}

.posts-display .post-image {
  width: 100%;
  max-width: 430px;
}

.posts-display .post-information {
  color: #091e42;
}

.posts-display .description-text {
  color: #091e42;
}

.posts-display .post-tags > * {
  border: 1px solid #8993a4;
}

.works-section .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-content: space-evenly;
}

.grid-container .post-article {
  max-width: 327px;
  height: auto;
  background-image: url(../images/img-placeholder-articles.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 1em auto;
}

.post-article .post-information {
  color: #fff;
  padding: 8px 16px;
}

.post-article .description-text {
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.post-article .post-tags > * {
  background-color: #808080;
}

.post-article .post-button {
  width: 100%;
}

.aboutme-section {
  background: #1c1a19;
  background-image: url(../images/illustration-aboutme-mobile.svg);
  background-repeat: no-repeat;
  background-position: right 370px;
  background-size: 160px auto;
}

.aboutme-section .section-title {
  font-size: 72px;
  line-height: 81px;
}

.aboutme-section .h-rule {
  background-color: #fff5e1;
  margin: 200px 0 120px 0;
}

.aboutme-section .skills {
  width: 100%;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  align-items: center;
}

.aboutme-section .skills > * {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.aboutme-section .skills > * > * {
  margin-bottom: 16px;
}

.aboutme-section .skills > * span {
  line-height: normal;
  padding-left: 32px;
  background-position: 0 13px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
}

.aboutme-section .skills .languages-skills span {
  background-image: url('../icons/rectangle-roted.png');
  background-size: 22px 22px;
}

.aboutme-section .skills .frameworks-skills span {
  background-image: url('../icons/rectangle.png');
}

.aboutme-section .skills .additional-skills span {
  background-image: url('../icons/disc.png');
}

.aboutme-section .skills .ul-sublist {
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
}

.contact-section .contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-form .description-text {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 58px;
}

.contact-form .form-widgets {
  width: 100%;
  max-width: 500px;
}

.contact-form .form-widgets > * {
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  padding: 5px 10px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
  margin-bottom: 20px;
}

.contact-form input {
  height: 40px;
  border-bottom: 1px solid #dbd8d7;
}

.contact-form input:focus {
  outline: none;
}

.contact-form textarea {
  height: 114px;
  background: #fbf8f7;
}

footer .bottom-navigator {
  border-top: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom-navigator .social-media-icons {
  margin: 15px 0;
}

.bottom-navigator .social-media-icons .link {
  color: #505f79;
}

.bottom-navigator .h-rule {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .works-section .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .hamburger-menu {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  h1.section-title {
    font-size: 72px;
    line-height: 81px;
  }

  .section-subtitle {
    font-size: 32px;
    line-height: 44px;
  }

  .description-text {
    font-size: 20px;
    line-height: 32px;
  }

  .box-join-title {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .box-join-title .h-rule {
    margin-top: 0;
  }

  .nav-bar {
    padding: 16px 100px;
  }

  .nav-bar .menu-list {
    display: flex;
  }

  .nav-bar .menu-icon {
    display: none;
  }

  .page-section {
    padding: 100px 100px;
  }

  .first-section {
    background-image: url(../images/illustration-header.svg);
    background-position: right center;
    background-size: auto 600px;
    padding: 150px 100px 100px 100px;
    position: relative;
  }

  .first-section .social-media-icons {
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: calc(50% + 25px - (40px * 5) / 2);
  }

  .first-section .section-title,
  .first-section .section-subtitle,
  .first-section .description-text {
    width: 466px;
  }

  .works-section .posts-display {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .works-section .posts-display > * {
    margin: 0;
  }

  .posts-display .post-image {
    min-width: 390px;
  }

  .posts-display .post-information {
    margin-left: 24px;
  }

  .posts-display .post-title {
    font-size: 40px;
    line-height: 52px;
  }

  .posts-display .description-text {
    font-size: 20px;
    line-height: 28px;
  }

  .grid-container .post-article {
    position: relative;
  }

  .post-article .post-image-desktop {
    display: flex;
  }

  .post-article .post-information,
  .post-article .post-button {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
  }

  .post-article .post-button {
    display: none;
  }

  .active-article .post-information {
    display: none;
  }

  .active-article .post-button {
    display: flex;
  }

  footer ul li {
    transition: transform 0.3s ease-in;
  }

  footer ul li:hover {
    transform: scale(1.5);
  }

  .aboutme-section {
    background-image: url(../images/illustration-aboutme.svg);
    background-position: right 150px;
    background-size: 450px auto;
  }

  .aboutme-section .section-title,
  .aboutme-section .section-subtitle,
  .aboutme-section .description-text {
    width: 466px;
  }

  .aboutme-section .h-rule {
    margin: 127px 0 100px 0;
  }

  .aboutme-section .skills {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .aboutme-section .skills > * {
    margin-bottom: 8px;
    align-items: flex-start;
  }

  .aboutme-section .skills .ul-sublist {
    padding-left: 32px;
    align-items: flex-start;
  }

  .aboutme-section .skills .ul-sublist li {
    padding-left: 0;
  }

  .contact-section .contact-form {
    flex-direction: row;
    justify-content: flex-start;
  }

  .contact-form .description-text {
    font-size: 40px;
    line-height: 52px;
    width: 40%;
    text-align: left;
    margin-bottom: 0;
    padding-right: 24px;
  }

  .contact-form .form-widgets {
    width: 60%;
  }

  .contact-form .form-widgets > * {
    justify-content: flex-start;
  }

  .bottom-navigator .h-rule {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    .posts-display .post-image {
      max-width: 600px;
    }
  }

  .works-section .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .nav-bar a:hover {
    animation: colorChange 0.5s forwards, textChange 0.5s forwards;
  }

  @keyframes colorChange {
    0% {
      color: white;
    }

    100% {
      color: #f55800;
    }
  }

  @keyframes textChange {
    0% {
      font-size: 14px;
    }

    100% {
      font-size: 20px;
    }
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.2);
    }
  }
}
