/* This stylesheet contains all the styling for the popup section */

/* The popup was designed with a mobile first approach */

/* popup styling */
.mobilehide {
  display: none;
}

.popup {
  width: 100%;
  height: 100vh;
  background: #979493;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  overflow: scroll;
}

.popupcont {
  background: #ebecf0;
  margin: 35px auto 24px;
  border: 1px solid #dfe1e6;
  width: 1135px;
  height: 631px;
}

.popupcontheader {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.popupcontheader h2 {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.popupcontheader button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  color: #000;
}

.popupcontheader button i {
  font-size: 23px;
}

.popupcontlangs {
  margin-bottom: 22px;
}

.popupcontlangs ul {
  display: flex;
  justify-content: space-around;
}

.popupcontlangs ul li {
  border: 1px solid gray;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #3c3a39;
  padding: 9px;
}

.popupcontbody {
  margin: 24px 16px;
  height: 80vh;
}

.popupcontbodyleft img {
  height: 448px;
  width: 659px;
  margin-bottom: 20px;
}

.popupcontbodyright {
  width: 424px;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popupcontbodyright p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.popupcontbodyrightbtns {
  display: flex;
  justify-content: space-between;
  margin-top: 30px !important;
}

.popupcontbodyrightbtns button {
  padding: 11px;
  height: 46px;
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.popupcontbodyrightbtns button img {
  padding-left: 8px;
}

/* MEDIA QUERY */

@media screen and (min-width: 992px) {
  .mobilehide {
    display: block;
  }

  .desktophide {
    display: none;
  }

  .popupcont {
    margin-bottom: 45px;
  }

  .popupcontlangs ul {
    justify-content: flex-start;
  }

  .popupcontlangs ul li {
    margin-left: 20px;
  }

  .popupcontbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .popupcontbodyright p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }

  .popupcontbodyrightbtns {
    justify-content: flex-start;
    position: absolute;
    bottom: 10%;
  }

  .popupcontbodyrightbtns button {
    margin-left: 20px;
  }
}
